<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BanHangSieuTHi.Properties.Settings.QLBanHangSieuThiConnectionString"
            connectionString="Data Source=DESKTOP-TKBGRT5\SQLEXPRESS;Initial Catalog=QLBanHangSieuThi;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>